<div class="testimonial_area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <h2>What Our Customers Says ?</h2>
        </div>
      </div>
    </div>
    <div class="testimonial_container">
      <div class="row">
        <div class="testimonial_carousel owl-carousel">
          <div class="col-12">
            <div class="single-testimonial">
              <div class="testimonial-icon-img">
                <img
                  src="{{asset('user/assets/img/about/testimonials-icon.png')}}"
                  alt=""
                />
              </div>
              <div class="testimonial_content">
                <p>
                  “ When a beautiful design is combined with powerful
                  technology, <br />
                  it truly is an artwork. I love how my website operates and
                  looks with this theme. Thank you for the awesome product. ”
                </p>
                <div class="testimonial_text_img">
                  <a href="#"
                    ><img
                      src="{{asset('user/assets/img/about/testimonial1.png')}}"
                      alt=""
                  /></a>
                </div>
                <div class="testimonial_author">
                  <p>
                    <a href="#">Rebecka Filson</a> / <span>CEO of CSC</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="single-testimonial">
              <div class="testimonial-icon-img">
                <img
                  src="{{asset('user/assets/img/about/testimonials-icon.png')}}"
                  alt=""
                />
              </div>
              <div class="testimonial_content">
                <p>
                  “ When a beautiful design is combined with powerful
                  technology, <br />
                  it truly is an artwork. I love how my website operates and
                  looks with this theme. Thank you for the awesome product. ”
                </p>
                <div class="testimonial_text_img">
                  <a href="#"
                    ><img
                      src="{{asset('user/assets/img/about/testimonial2.png')}}"
                      alt=""
                  /></a>
                </div>
                <div class="testimonial_author">
                  <p><a href="#">Amber Laha</a> / <span>CEO of DND</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="single-testimonial">
              <div class="testimonial-icon-img">
                <img
                  src="{{asset('user/assets/img/about/testimonials-icon.png')}}"
                  alt=""
                />
              </div>
              <div class="testimonial_content">
                <p>
                  “ When a beautiful design is combined with powerful
                  technology, <br />
                  it truly is an artwork. I love how my website operates and
                  looks with this theme. Thank you for the awesome product. ”
                </p>
                <div class="testimonial_text_img">
                  <a href="#"
                    ><img
                      src="{{asset('user/assets/img/about/testimonial3.png')}}"
                      alt=""
                  /></a>
                </div>
                <div class="testimonial_author">
                  <p><a href="#">Lindsy Neloms</a> / <span>CEO of SFD</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
