<div class="product_area product_deals product_deals5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <h2>Today Deals</h2>
        </div>
      </div>
    </div>
    <div class="product_deals_container">
      <div class="row">
        <div class="product_carousel product_column5 owl-carousel">
          <div class="col-lg-3">
            <article class="single_product">
              <figure>
                <div class="product_thumb">
                  <a class="primary_img" href="product-details.html"
                    ><img
                      src="{{asset('user/assets/img/product/product1.jpg')}}"
                      alt=""
                  /></a>
                  <div class="label_product">
                    <span class="label_sale">-7%</span>
                  </div>
                  <div class="product_timing">
                    <div data-countdown="2022/12/15"></div>
                  </div>
                </div>
                <figcaption class="product_content">
                  <div class="product_rating">
                    <ul>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="product_name">
                    <a href="product-details.html">commodo augue nisi</a>
                  </h4>
                  <div class="price_box">
                    <span class="current_price">£69.00</span>
                    <span class="old_price">£74.00</span>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>
          <div class="col-lg-3">
            <article class="single_product">
              <figure>
                <div class="product_thumb">
                  <a class="primary_img" href="product-details.html"
                    ><img
                      src="{{asset('user/assets/img/product/product2.jpg')}}"
                      alt=""
                  /></a>
                  <div class="label_product">
                    <span class="label_sale">-9%</span>
                  </div>
                  <div class="product_timing">
                    <div data-countdown="2022/12/15"></div>
                  </div>
                </div>
                <figcaption class="product_content">
                  <div class="product_rating">
                    <ul>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="product_name">
                    <a href="product-details.html">eget sagittis</a>
                  </h4>
                  <div class="price_box">
                    <span class="current_price">£65.00</span>
                    <span class="old_price">£70.00</span>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>
          <div class="col-lg-3">
            <article class="single_product">
              <figure>
                <div class="product_thumb">
                  <a class="primary_img" href="product-details.html"
                    ><img
                      src="{{asset('user/assets/img/product/product3.jpg')}}"
                      alt=""
                  /></a>
                  <div class="label_product">
                    <span class="label_sale">-6%</span>
                  </div>
                  <div class="product_timing">
                    <div data-countdown="2022/12/15"></div>
                  </div>
                </div>
                <figcaption class="product_content">
                  <div class="product_rating">
                    <ul>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="product_name">
                    <a href="product-details.html">fringilla augue</a>
                  </h4>
                  <div class="price_box">
                    <span class="current_price">£68.00</span>
                    <span class="old_price">£75.00</span>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>
          <div class="col-lg-3">
            <article class="single_product">
              <figure>
                <div class="product_thumb">
                  <a class="primary_img" href="product-details.html"
                    ><img
                      src="{{asset('user/assets/img/product/product4.jpg')}}"
                      alt=""
                  /></a>
                  <div class="label_product">
                    <span class="label_sale">-5%</span>
                  </div>
                  <div class="product_timing">
                    <div data-countdown="2022/12/15"></div>
                  </div>
                </div>
                <figcaption class="product_content">
                  <div class="product_rating">
                    <ul>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="product_name">
                    <a href="product-details.html">massa massa</a>
                  </h4>
                  <div class="price_box">
                    <span class="current_price">£75.00</span>
                    <span class="old_price">£80.00</span>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>

          <div class="col-lg-3">
            <article class="single_product">
              <figure>
                <div class="product_thumb">
                  <a class="primary_img" href="product-details.html"
                    ><img
                      src="{{asset('user/assets/img/product/product5.jpg')}}"
                      alt=""
                  /></a>
                  <div class="label_product">
                    <span class="label_sale">-8%</span>
                  </div>
                  <div class="product_timing">
                    <div data-countdown="2022/12/15"></div>
                  </div>
                </div>
                <figcaption class="product_content">
                  <div class="product_rating">
                    <ul>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="product_name">
                    <a href="product-details.html">placerat vestibulum</a>
                  </h4>
                  <div class="price_box">
                    <span class="current_price">£65.00</span>
                    <span class="old_price">£70.00</span>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>
          <div class="col-lg-3">
            <article class="single_product">
              <figure>
                <div class="product_thumb">
                  <a class="primary_img" href="product-details.html"
                    ><img
                      src="{{asset('user/assets/img/product/product6.jpg')}}"
                      alt=""
                  /></a>
                  <div class="label_product">
                    <span class="label_sale">-9%</span>
                  </div>
                  <div class="product_timing">
                    <div data-countdown="2022/12/15"></div>
                  </div>
                </div>
                <figcaption class="product_content">
                  <div class="product_rating">
                    <ul>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon-star"></i></a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="product_name">
                    <a href="product-details.html">Porro Cook</a>
                  </h4>
                  <div class="price_box">
                    <span class="current_price">£62.00</span>
                    <span class="old_price">£68.00</span>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
